* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important;
  font-family: var(--font-poppins) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--primary) !important;
  text-decoration: underline !important;
}

.MuiTooltip-tooltip {
  font-size: 10px !important;
  font-weight: 600 !important;
}

.MuiTypography-root {
  font-family: inherit !important;
}

.Mui-root.Mui-checked {
  color: var(--blue) !important;
}

.no-select {
  user-select: none !important;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex !important;
  align-items: center !important;
  background: #1930ab;
  background: linear-gradient(
    80deg,
    rgba(25, 48, 171, 0.5) 0%,
    rgba(25, 48, 171, 0.2) 40%,
    rgba(204, 51, 102, 0.1) 70%,
    rgba(204, 51, 102, 0.1) 100%
  );
}

/* Hero Section for Home Page - Full Height */
.heroSection {
  position: relative !important;
  background-color: #f2f2f2 !important;
  width: 100% !important;
  min-height: 100vh !important;
}

.heroSection .content {
  position: relative !important;
  z-index: 1 !important;
  height: 100% !important;
  padding: 50px 0px !important;
  display: flex !important;
  align-items: center !important;
  min-height: 100vh !important;
  justify-content: center !important;
}

.heroSection .content h1 {
  font-size: 55px !important;
  font-weight: 300 !important;
  line-height: normal !important;
  letter-spacing: 3px !important;
  text-align: center !important;
}

/* Small Hero Section for Other Pages - 30vh Height */
.smHeroSection {
  position: relative !important;
  background-color: #f2f2f2 !important;
  width: 100% !important;
  min-height: 40vh !important;
}

.smHeroSection .content {
  position: relative !important;
  z-index: 1 !important;
  height: 100% !important;
  padding: 30px 0px !important;
  display: flex !important;
  align-items: center !important;
  min-height: 40vh !important;
  justify-content: center !important;
}

.smHeroSection .content h1 {
  font-size: 55px !important;
  font-weight: 300 !important;
  line-height: normal !important;
  letter-spacing: 3px !important;
  text-align: center !important;
}