.dropzone {
  border: 1px dashed #D1D5DB !important;
  padding: 15px 20px !important;
  border-radius: 4px !important;
  background-color: transparent !important;
  cursor: pointer !important;
}
.dropzone-error {
  border: 2px dashed red !important;
  padding: 15px 20px !important;
  border-radius: 4px !important;
  background-color: transparent !important;
  cursor: pointer !important;
}
.dropzone-content {
  height: auto !important;
}
