::-webkit-scrollbar-track {
  scrollbar-width: thin !important;
  background-color: #f5f5f5 !important;
}

::-webkit-scrollbar {
  scrollbar-width: thin !important;
  width: 6px !important;
  height: 6px !important;
  background-color: transparent !important;
  border-radius: 16px !important;
}

*::-webkit-scrollbar-track {
  scrollbar-width: thin !important;
  background: #bfbfbf !important;
  border-radius: 16px !important;
}

::-webkit-scrollbar-thumb {
  scrollbar-width: thin !important;
  background-color: transparent !important;
  border: 4px solid #555555 !important;
  border-radius: 16px !important;
}
